<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <body>
      <h1>LOVE OR HATE</h1>
      <p id="love"></p>
      <p id="hate"></p>
      <p id="love_c"></p>
      <p id="hate_c"></p>
      <p id="total_c"></p>
      <ul class="tweets"></ul>
    </body>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/client.socket.io.js"></script>
  </head>
</html>